.navbar {
  width: 100%;
  height: 100px;
  background-color: #1034a6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__links {
  margin-right: 50px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.navbar__links a {
  text-decoration: none;
  color: var(--secondcolor);
  font-size: 25px;
  transition: opacity 0.2s ease-in;

  &:hover {
    opacity: 0.8;
  }
}
