.navbar {
  height: 100px;
  display: flex;
  background-color: #1034a6;
}

.navbar__link {
  flex: 0 0 50vw;
}

.navbar__link a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--secondcolor);
  font-size: 32px;
  transition: background-color 0.15s ease-in, color 0.15s ease-in;

  &:hover {
    // opacity: 0.8;
    background-color: var(--secondcolor);
    color: var(--maincolor);
  }
}
