.navbar {
  height: 100px;
  display: flex;
  background-color: #1034a6;
  overflow-x: hidden;
}

.navbar__link {
  flex: 0 0 50vw;
  &:first-child {
    border-right: 3px solid var(--secondcolor);
  }
}

.navbar__link a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--secondcolor);
  font-size: 32px;
  transition: background-color 0.15s ease-in, color 0.15s ease-in;

  @media (hover: hover) {
    &:hover {
      background-color: var(--secondcolor);
      color: var(--maincolor);
    }
  }
}

.navbar__items-counter {
  font-size: 30px;
  margin-left: 5px;
}
