:root {
  --container: 830px;

  /* Fonts */
  --font-main: 'Quicksand', sans-serif;
  --default-size: 16px;

  /* Colors */
  --maincolor: rgb(0, 0, 0);
  --secondcolor: rgb(125, 125, 125);
  --thirdcolor: rgb(255, 255, 255);

  /* Media */
  --laptop: 1200px;
  --tablet: 767px;
  --phone: 425px;
}
