:root {
  --container: 830px;

  /* Fonts */
  --font-main: 'Quicksand', sans-serif;
  --default-size: 22px;

  /* Colors */
  --maincolor: #1034a6;
  --maincolor-pale: #1033a64d;
  --secondcolor: rgb(255, 255, 255);
  --thirdcolor: rgb(125, 125, 125);

  /* Media */
  --laptop: 1024px;
  --tablet: 767px;
  --phone: 425px;
}
